.canvas {
    background: white;
    border: none;
    border-width: 1px;
    border-color: gray;
    align-self: center;
    grid-column-start: 1;
    grid-column-end: 1;
}

.chart {
    height: 200px;
    width: 250;
}

.counter {
    font-size: 10pt;
    margin: auto;
    
}